doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document for webpack
    link(rel='icon' href='./img/icon/favicon.ico')
  body
    .container
      .row
        .col-md-12
          h1 Webpack Coucse
          hr
          .test-block
          hr
          .logo
            img(src='./img/1/1.JPG' alt='rose')
          .new
            | oljapolja
          a(href='notindex.html') to notindex