extends ./layout/main
//- include ./blocks/

block vars
  -
    const description = 'Создание адаптивного сайта'
    const title = 'Document for webpack'

block content
  .container
    .row
      .col-md-12
        h1 Webpack Coucse
          hr
          .test-block
          hr
          .logo
            img(src='./img/1/1.JPG' alt='rose')
          .new
            | oljapolja
          a(href='notindex.html') to notindex